<div class="post-listing product-listing">

  <div class="row">
    <div class="col-lg-4 col-md-5">
      <div class="product-carousel">
        <%= partial(:carousel) %>
        <%# image_tag product["image"], :style => "height:200px; width:auto; margin: 0 auto;", :class => "img-responsive"  %>
      </div>
    </div>
    <div class="col-lg-8 col-md-7">
      <h2> <%= product.name %> </h2>
      <p> <%= product.description %> </p>
      <div>
        <a href="<%= product.amazon %>" class="btn btn-fill btn-sm">Buy from Amazon</a>
      </div>
      <div style="display: inline-flex;">
        <strong>Scent:</strong>
        <span class="stars" style="margin: 2px 0 0 5px">
          <span style="width: <%= product.stars * 20 %>px;"></span>
        </span>
      </div>
      <% if type.eql?('deoderant') %>
        <ul>
          <li> Scent: <%= product.scent %> </li>
          <li> Type: <%= product.type %> </li>
        </ul>
      <% end %>
      <%# partial product["article"] %>
    </div>  
  </div>

  <%#<div class="row">%>
    <%#<div class="col-md-12">%>
      <%#<a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseTwo">%>
        <%#Click me to expand. click me again to collapse.section 2%>
      <%#</a>%>
      <%#<div id="collapseTwo" class="panel-collapse collapse">%>
        <%#<div class="panel-body">%>
          <%#Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt %>
          <%#sapiente ea proident. Ad vegan excepteur butcher vice lomo.%>
        <%#</div>%>
      <%#</div>%>
    <%#</div>%>
  <%#</div>%>

</div>


