<div class="material post-listing">
  <div class="social-block">
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-rss"></i></a>
  </div>
  <div class="content">
    <div class="logo">
      <% link_to '/index.html' do %>
        <%= image_tag "logo.svg", :class => "img-responsive", :style => "height: 35px; margin: 0px auto 5px;"  %>
      <% end %>
    </div>
    <div class="about-block">
      <h2>We review the best natural hygiene products to provide you with honest, balanced information.</h2>
    </div>
  </div>
</div>

<div class="material side-block content">
  <h2>Our Favorites</h2>
  <% @products = [data.products["Schmidt's Lavender & Sage"], data.products["Naturally Sourced Lavender"], data.products["Primal Pit Paste Lavender"]] %>
  <% @products.each do |p| %>
    <div class="post-snippet">
      <%= image_tag p.images[0], :class => "img-responsive product-tile"  %>
      <h3> <%= link_to p.name, p.path %> </h3>
    </div>
  <% end %> 
</div>

<% if defined? related_articles %>
  <div class="material side-block content">
    <h2>Related Posts</h2>
    <% blog.articles.select do |article| %>
      <% if related_articles.include? article.data.title %>
        <div class="post-snippet">
          <%= image_tag article.data.img, :class => "img-responsive"  %>
          <h3>
            <%= link_to article.title, article %>
          </h3>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="material side-block content">
  <h2>Recent Posts</h2>
  <% blog.articles[0...5].each do |article| %>
    <h3><%= article.title %></h3>
  <% end %>
</div>
