---
pageable: true
per_page: 12
---

<div class="container">

  <h1>Articles tagged '<%= tagname %>'</h1>

  <% if paginate && num_pages > 1 %>
    <p>Page <%= page_number %> of <%= num_pages %></p>

    <% if prev_page %>
      <p><%= link_to 'Previous page', prev_page %></p>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <%= partial(:post_list, :locals => { :articles => page_articles }) %>
    </div>
    <div class="col-md-4">
      <%= partial(:side_well) %>
    </div>
  </div>

  <% if paginate %>
    <% if next_page %>
      <p><%= link_to 'Next page', next_page %></p>
    <% end %>
  <% end %>

</div>

